<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>1. Les compétences des collectivités locales</h1>
  <p>
  Les collectivités territoriales françaises sont organisées en quatre échelons
  distincts, à janvier 2017 :
  <br>
  <br>
  - 18 régions<br>
  - 101 départements<br>
  - 1 266 communautés de communes<br>
  - 35 414 communes<br>
  <br>
  <br>
  Chaque échelon dispose de compétences propres.
  </p>
  <br>
  <h3>1. La commune</h3>
  <p>
  La commune est désormais <strong>le seul échelon bénéficiant de la clause de compétence générale</strong>,
  c'est-à-dire que la commune dispose d'une capacité d'intervention générale, sans qu'il soit
  nécessaire de procéder à une énumération de ses attributions dès lors qu'il ne s'agit pas
  d'une compétence relevant exclusivement d'une autre collectivité
  (loi du 7 août 2015 portant nouvelle organisation territoriale de la République, dite loi "NOTRe").
  Ses principales compétences sont les suivantes :
  <br>
  <br>
  - <strong>Urbanisme</strong> : permis de construire, Plan Local d’Urbanisme (PLU), Zone d’Aménagement Concerté (ZAC)<br>
  - <strong>Education</strong> : gestion et financement des écoles maternelles et primaires, cantines scolaires<br>
  - <strong>Energie</strong> : production, installation et distribution<br>
  - <strong>Sports</strong> : création et gestion des équipements, subventions<br>
  - <strong>Transports</strong> : transport urbain, stationnement<br>
  - <strong>Culture</strong> : bibliothèques, musées, salles de spectacles, manifestations culturelles<br>
  - <strong>Tourisme</strong> : aménagements et manifestations<br>
  - <strong>Social</strong> : centres communaux d’action sociale (crèches, foyers de personnes âgées,...)<br>
  </p>
  <br>
  <h3>2. La communauté de communes</h3>
  <p>
  La communauté des communes ou EPCI (Etablissement Public de Coopération Intercommunale)
  <strong>exerce les compétences qui lui sont déléguées par les communes membres</strong>.
  Ses principales compétences sont les suivantes. Selon le type d’EPCI,
  certaines compétences sont obligatoires, d’autres facultatives :
  <br>
  <br>
  - <strong>Urbanisme</strong> : élaboration du Schéma de COhérence Territoriale (SCOT) et des schémas de secteurs, gestion du foncier et immobilier d’entreprise<br>
  - <strong>Education</strong> : écoles primaires, crèches, cantines scolaires<br>
  - <strong>Sports</strong> : équipements, manifestations sportives<br>
  - <strong>Transports</strong> : stationnement, ports<br>
  - <strong>Sécurité</strong> : Prévention de la délinquance, incendies et secours<br>
  - <strong>Déchets</strong> : collecte et traitement (fin 2017)<br>
  - <strong>Eau</strong> : distribution et assainissement (fin 2017)<br>
  </p>
  <br>
  <h3>3. Le département</h3>
  <p>
  Le département est <strong>le chef de file de l’action sociale</strong>.
  Ses principales compétences sont les suivantes :
  <br>
  <br>
  - <strong>Action sociale</strong> : RSA, APA, PCH, logement social, PMI, ASE<br>
  - <strong>Education</strong> : gestion et financement des collèges, gestions des 100 000 agents techniciens et ouvriers<br>
  - <strong>Energie</strong> : production, installations et distribution<br>
  - <strong>Transports</strong> : routes départementales (près de 400 000 kms), transports scolaires des enfants handicapés<br>
  - <strong>Sécurité</strong> : prévention de la délinquance<br>
  - <strong>Sports</strong> : équipements, manifestations sportives<br>
  - <strong>Culture</strong> : bibliothèques, musées, salles de spectacles, manifestations culturelles, archives<br>
  - <strong>Tourisme</strong> : aménagements<br>
  - <strong>Economie</strong> : aide aux filières agricoles locales<br>
  </p>
  <br>
  <h3>4. La région</h3>
  <p>
  <strong>La région est le chef de file en matière économique.</strong> Les régions ont vu leurs compétences
  renforcées par la loi "NOTRe" et deviennent l’échelon de référence de la décision économique.
  Ses principales compétences sont les suivantes :
  <br>
  <br>
  - <strong>Economie</strong> : création du SDREII (schéma régional de développement économique, de l’innovation et de l’internationalisation) en concertation avec les communautés de communes et les métropoles. Aides aux entreprises<br>
  - <strong>Aménagement du territoire</strong> : Elaboration du schéma régional d’aménagement et du développement durable du territoire (SRADDT) sauf Ile-de-France et outre-mer. Supervision des zones d’activité, des grands équipements<br>
  - <strong>Emploi</strong> : service d’accompagnement vers l’emploi sans toucher aux prérogatives de Pôle emploi (Etat)<br>
  - <strong>Transports</strong> : transport scolaire (à partir de 2017), chef de file de l’intermodalité (loi Maptam), transports routiers non urbains, participation au financement des axes routiers constituant des voies d’intérêt national<br>
  - <strong>Sport</strong> : accueil au minimum d’un centre de ressources, d’expertises et de performance sportives (Creps)<br>
  - <strong>Eau</strong> : gestion et protection des ressources en eau si les enjeux sanitaires et environnementaux le justifient<br>
  - <strong>Déchets</strong> : plan régional de prévention et de gestion des déchets ; déchets d’entreprise<br>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
