<br>
<br>
<div class="picback">
  <div class="layer">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center">Les données pour comprendre <br>vos collectivités locales</h1>
  <br>
  <br>
  <h3 class="text-center sub_blue">Un citoyen responsable est un citoyen informé</h3>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
</div>
<div class="text-center">
  <br>
  <form class="form-inline">
    <label class="sr-only" for="inlineFormInputGroup">Choisissez une commune</label>
    <div class="input-group">
      <input type="text" class="form-control custom-form" id="inlineFormInputGroup" placeholder="Choisissez une commune">
    </div>
    <button type="submit" class="btn custom-form" id="buttonsearch">Voir les données</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <h2>
    Le projet Citoyens Responsables
  </h2>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2>
    Nos derniers articles
  </h2>
  <br>
  <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
