<% content_for :head do %>
  <meta name="google-site-verification" content="4SM52CVk1TCLLrb4oahGQm07QTuIYSDYGcejtD_VX9g" />
<% end %>
<br>
<br>
<div class="picback">
  <div class="layer">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center">Les données pour comprendre <br>vos collectivités locales</h1>
  <br>
  <br>
  <h3 class="text-center sub_blue">Un citoyen responsable est un citoyen informé</h3>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
</div>
<div class="text-center">
  <br>
  <%= form_tag(search_path, method: 'get', class: 'form-inline') do %>
    <%= search_field_tag 'search', nil, class: 'form-control custom-form orangeform inlineFormInputGroup', placeholder: 'Votre commune', data: {autocomplete_source: search_suggestions_path}  %>
    <%= button_tag(type: 'submit', class: "btn custom-form buttonsearch") do %>
      Voir
    <% end %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <h2>
    Le projet Citoyens Responsables
  </h2>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-bicycle orange big-font" aria-hidden="true"></i>
        <br>
        <h4 class="orange">
          Une association indépendante et apolitique
        </h4>
        <br>
        <p>
          Nous croyons qu’il est possible, au niveau local, de donner des éléments d’évaluation
          des politiques publiques qui soient neutres et n’impliquent pas un engagement politique.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-binoculars orange big-font" aria-hidden="true"></i>
        <br>
        <h4 class="orange">
          Mieux comprendre les collectivités locales
        </h4>
        <br>
        <p>
          Une documentation complète et accessible est disponible sur notre site pour comprendre
          les responsabilités, les budgets et la fiscalité des collectivités locales.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-users orange big-font" aria-hidden="true"></i>
        <br>
        <h4 class="orange">
          Aider les citoyens à évaluer l'action de leurs élus
        </h4>
        <br>
        <p>
          Notre site met à disposition de tous des indicateurs sociaux, fiscaux et financiers pour
          évaluer l'action des élus locaux, à tous les échelons.
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="text-center">
      Pour vous inscrire à notre newsletter et recevoir nos derniers articles. Garanti sans spam.
    </div>
    <br>
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInputGroup">Entrez votre adresse mail</label>
      <div class="input-group inlineFormInputGroup">
        <input type="text" class="form-control custom-form greyform" placeholder="Entrez votre adresse mail">
      </div>
      <button type="submit" class="btn custom-form" id="buttonsubscribe">S'inscrire</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h2>
    Les données des 20 plus grandes villes de France
  </h2>
  <br>
    <p>
      Comparez les fiscalités et consultez directement les données financières de toutes les communes françaises.
    </p>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br><a href="/villes/Paris%20(75)/indicateurs">Paris</a>
        <br><a href="/villes/Marseille%20(13)/indicateurs">Marseille</a>
        <br><a href="/villes/Lyon%20(69)/indicateurs">Lyon</a>
        <br><a href="/villes/Toulouse%20(31)/indicateurs">Toulouse</a>
        <br><a href="/villes/Nice%20(6)/indicateurs">Nice</a>
        <br><a href="/villes/Nantes%20(44)/indicateurs">Nantes</a>
        <br><a href="/villes/Strasbourg%20(67)/indicateurs">Strasbourg</a>
        <br><a href="/villes/Montpellier%20(34)/indicateurs">Montpellier</a>
        <br><a href="/villes/Bordeaux%20(33)/indicateurs">Bordeaux</a>
        <br><a href="/villes/Lille%20(59)/indicateurs">Lille</a>
      </div>
      <div class="col-md-6">
        <br><a href="/villes/Rennes%20(35)/indicateurs">Rennes</a>
        <br><a href="/villes/Reims%20(51)/indicateurs">Reims</a>
        <br><a href="/villes/Le%20Havre%20(76)/indicateurs">Le Havre</a>
        <br><a href="/villes/Saint-Étienne%20(42)/indicateurs">Saint-Étienne</a>
        <br><a href="/villes/Toulon%20(83)/indicateurs">Toulon</a>
        <br><a href="/villes/Grenoble%20(38)/indicateurs">Grenoble</a>
        <br><a href="/villes/Dijon%20(21)/indicateurs">Dijon</a>
        <br><a href="/villes/Angers%20(49)/indicateurs">Angers</a>
        <br><a href="/villes/Nîmes%20(30)/indicateurs">Nîmes</a>
        <br><a href="/villes/Le%20Mans%20(72)/indicateurs">Le Mans</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <%= link_to "Voir les données des principales communes françaises", pages_donnees_principales_communes_path %>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
