<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>Notre méthodologie</h1>
  <br>
  <p>
    Le principal contenu de notre site consiste en des fiches présentant pour chaque commue : <br><br>
    - des indicateurs socio-économiques,<br>
    - le niveau de la fiscalité du bloc communal (communes et regroupements),<br>
    - les états financiers des communes.<br>
    <br>
    Lorsque c'est possible, ces indicateurs sont également donnés pour la moyenne des
    communes appartenant à la même strate de population afin de pouvoir établir des comparaisons.
    <br>
    <br>
    Les données présentées ne sont pas disponibles sous cette forme dans des bases de données
    fournies par l'administration. Elles sont le produit de regroupements et de retraitements
    de fichiers bruts.
  </p>
  <br>
  <h2 class= "orange-police">1. La fiscalité</h2>
  <br>
  <p>
    Les données fiscales proviennent du site impots.gouv.fr qui donne pour chaque commune et pour chaque année
    le produit des différents impôts locaux au niveau de la commune, du syndicat et du regroupement si ces derniers existent.
    <br>
    <br>
    Nous présentons dans l'onglet "fiscalité" de chaque fiche : <br>
    - le montant par habitant de la taxe d'habitation au niveau de la commune et au niveau des groupements (part syndicat + part EPCI),
    <br>
    - le montant par habitant de la taxe foncière au niveau de la commune.
    <br>
    <br>
    Il faut en effet comparer la fiscalité pour l'ensemble du bloc communal et non seulement au niveau des communes, car
    certaines communes délèguent une partie de leurs services et leur fiscalité à des regroupements.
    <br>
    <br>
    Il faut prêter attention à quelques cas exceptionnels :<br><br>
    - La Métropole du Grand Lyon (EPCI des communes du Rhône (69)) reçoit depuis 2015 la part de la taxe foncière qui était
    auparavant prélevée par le département.<br><br>
    - Les communes de la Métropole du Grand Paris qui faisaient auparavant partie d'un regroupement perçoivent
    depuis 2016 la part de la taxe d'habitation qui était auparavant prélevée par le regroupement. Les comparaisons
    restent bien valables puisqu'il s'agit toujours du bloc communal.<br><br>
    - Certaines communes balnéaires ou montagnardes comptent une part importante de résidences secondaires. Celles-ci ne sont
    pas prises en compte dans la population, ce qui peut résulter en des niveaux d'impôts par habitant artificiellement élevés. Nous
    indiquons dans une note sur la fiche si la commune compte plus de 30% de résidences secondaires sur son territoire.<br>
    <br>
  </p>
  <h2 class= "orange-police">2. Les états financiers</h2>
  <br>
  <p>
  Nous utilisons les balances des communes mises en ligne par le site data.gouv.fr. Ces importantes
  bases de données donnent pour chaque ligne de compte de chaque commune la somme des opérations
  réalisées au cours de l'année.
  <br>
  <br>
  Nous utilisons la méthodologie du rapport 2017 de l'OFGPL (Observatoire des finances et de la gestion publique locales).
  Comme les communications financières des communes, celle-ci ne prend en compte que les opérations dites réelles,
  c'est-à-dire les opérations qui donnent effectivement lieu à entrée ou sortie de fonds. D'autres sources reprennent
  les agrégats financiers bruts, incluant les opérations d'ordre. Les opérations d'ordre peuvent représenter une part significative
  des comptes, notamment dans la section d'investissement. Il est par conséquent impossible d'établir un diagnostic financier juste
  en prenant en compte ces agrégats.
  <br>
  <br>
  Dans le détail nous retenons les comptes suivants pour établir nos fiches :
  </p>
  <br>
  <h4 class= "blue-police">1. Recettes réelles de fonctionnement</h4>
  <br>
  <p>
  - <strong> Ressources fiscales </strong>: crédit net des comptes 731, 732, 7391 et 7391 (impôts locaux), 7321,
  7322, 7328, 73921, 73922 et 73928 (fiscalité reversée), 733, 734, 735, 736, 737, 738, 7394, 7396 et 7398 (autres impôts et taxes),
  et compte 65541 pour les communes de la Métropole du Grand Paris.
  <br>
  - <strong>Dotations et subventions </strong>: crédit net des comptes 741, 742, 744, 745, 746, 7483 (concours de l'Etat dont dotation de fonctionnement),
  747 et 748 sauf 7483 (subventions et participations).
  <br>
  - <strong>Autres recettes courantes </strong>: crédit net des comptes 70 (ventes de biens et services), 75, 76 et 79 (autres produits courants).
  <br>
  - <strong>Recettes exceptionnelles </strong>: crédit net des comptes 775 (produits des cessions) et 77 sauf 776 et 777 (produits exceptionnels).
  </p>
  <br>
  <h4 class= "blue-police">2. Dépenses réelles de fonctionnement</h4>
  <br>
  <p>
  - <strong> Charges de personnel </strong>: débit net des comptes 621, 631, 633, 64.
  <br>
  - <strong> Achats et charges externes </strong>: débit net des comptes 60 (sauf 6031), 61, 62 (sauf 621).
  <br>
  - <strong> Subventions et interventions </strong>: débit net des comptes 655, 657 (sauf 65541 pour les communes de la Métropole du Grand Paris).
  <br>
  - <strong> Autres dépenses courantes </strong>: débit net des comptes 66 (frais financiers), 634, 635 et 637 (impôts), 653 et 656 (frais élus), 654, 658 et 69 (autres).
  <br>
  - <strong> Dépenses exceptionnelles </strong>: débit net du compte 67.
  </p>
  <br>
  <h4 class= "blue-police">3. Recettes réelles d'équipement (hors emprunt)</h4>
  <br>
  <p>
  - <strong> Subventions et FCTVA </strong>: crédit des comptes 10222 (FCTVA), 102 (sauf 1027, 10222, 10229) et 13 (sauf 139) (autres dotations et subventions).
  <br>
  - <strong> Autres recettes </strong>: crédit des comptes 103, 20, 21, 231, 232, 26, 27, 454, 456, 458 sauf 269, 279 et 2768.
  </p>
  <br>
  <h4 class= "blue-police">4. Dépenses réelles d'équipement (hors remboursements de dette)</h4>
  <br>
  <p>
  - <strong> Investissements </strong>: débit des comptes 20 (sauf 204), 21, 23 moins crédit des comptes 237, 238.
  <br>
  - <strong> Autres </strong>: débit des comptes 204 (subventions), 102, 13, 26, 27, 454, 456, 458, 481 sauf 1027, 10229, 139, 269, 279, 2768 (autres).
  </p>
  <br>
  <h4 class= "blue-police">5. Endettement</h4>
  <br>
  <p>
  Solde créditeur des comptes de classe 16.
  </p>
  <br>
  <h2 class= "orange-police">4. Les indicateurs</h2>
  <br>
  <p>
  Afin de mettre en perspective les comptes et la fiscalité, nous utilisons plusieurs indicateurs
  recommandés par l'OFGPL ainsi que des cabinets d'expertise en finances locales :
  </p>
  <br>
  <h4 class= "blue-police">1. Impôts locaux par habitant</h4>
  <br>
  <p>
  Nous présentons les niveaux d'imposition locale (taxe d'habitation et taxes foncières) par habitant.
  Dans la pratique, ces impôts sont prélevés auprès de chaque foyer fiscal. Le nombre d'habitants par
  foyer fiscal étant variable d'une commune à l'autre, le coût par habitant permet des comparaisons plus justes.
  <br>
  <br>
  Nous avons fait le choix de comparer les montants plutôt que les taux pour plusieurs raisons :
  <br>
  - le niveau des impôts dépend des taux et des bases cadastrales. Il est admis que les bases cadastrales sont généralement obsolètes,
  avec parfois des écarts très importants d'une région à l'autre. De fait, les taux ne peuvent pas être comparés au niveau national.
  <br>
  - les bases cadastrales sont calculées par l'administration fiscale mais les communes gardent toute latitude pour baisser ou augmenter
  le niveau des prélèvements en jouant sur les taux.
  <br>
  <br>
  Ces ratios peuvent être artificiellement élevés dans certains communes balnéaires ou montagnardes, du fait de la présence de nombreuses résidences secondaires.
  Nous indiquons par une note les communes qui comptent au moins 30% de résidences secondaires sur leur territoire.
  </p>
  <br>
  <h4 class= "blue-police">2. Epargne brute / recettes réelles</h4>
  <br>
  <p>
  C'est un des principaux indicateurs de la santé financière d'une commune avec le taux d'endettement.
  Il permet d'évaluer la capacité d'une commune à financer ses investissements par ses ressources propres et sans recours trop important à l'endettement.
  Il doit être d'au moins 11-12% pour qu'une commune puisse assurer sereinement les investissements obligatoires, comme l'entretien
  ou le remplacement d'équipements obsolètes.
  <br>
  <br>
  Une épargne brute importante (au-delà de 15-20%) couplée à un endettement faible indiquent qu'une commune
  a une pression fiscale trop importante. Elle pourrait aisément diminuer ses recettes et financer ses investissements
  par un endettement raisonnable.
  </p>
  <br>
  <h4 class= "blue-police">3. Endettement / épargne brute</h4>
  <br>
  <p>
  Ce ratio est recommandé pour juger de la capacité d'une commune à couvrir les échéances de sa dette.
  Nous le privilégions au ratio endettement / recettes réelles qui est parfois utilisé car les charges de fonctionnement
  ont généralement une grande inertie et ne pourrons pas être réduites significativement en quelques années.
  <br>
  <br>
  L'endettement ne doit en aucun cas dépasser 15 fois l'épargne brute, 15 années étant la maturité moyenne
  des emprunts souscrits par les collectivités locales. Au-delà de ce ratio, la commune devra réduire ses charges de fonctionnement
  ou augmenter ses recettes (principalement les impôts) pour pouvoir faire face aux échéances de sa dette.
  </p>
  <br>
  <h4 class= "blue-police">4. Endettement / habitant</h4>
  <br>
  Ce ratio n'est généralement pas recommandé. Il dépend fortement de la politique de la ville en matière d'investissement et
  ne donne pas d'indication sur la capacité de la commune à faire face à ses échéances.
  <br>
  <br>
  Il peut être utile dans certains cas précis :
  <br>
  - Un endettement proche de 0€ par habitant indique généralement que la pression fiscale est trop élevée par rapport aux services rendus.
  La commune pourrait baisser ses recettes et avoir recours à l'emprunt pour financer ses investissements. En effet, une commune n'a pas la capacité
  d'épargner ses excédents pour financer des investissements. Cela ne vaut pas dans les très petites communes où, par définition, très peu d'investissements sont requis.
  <br>
  <br>
  - Un endettement par habitant très élevé (plus de 3 000€) indique que des investissements très importants ont été entrepris. Leur remboursement requiert un niveau
  élevé d'épargne brute, et donc d'imposition.
  <br>
  <br>
  <p class="text-center">
    <%= image_tag "end_text_symbol.png" %>
  </p>
  <br>
  <br>
  <br>
</div>

