<% content_for :head do %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109849704-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109849704-1');
  </script>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>L'analyse des comptes des collectivités locales</h1>
  <br>
  <h2 class= "orange-police">1. Structure des comptes des collectivités locales</h2>
  <br>
  <p>
    Pour toute collectivité (communes, EPCI - établissement public de coopération intercommunale, départements, régions),
    le budget est séparé en deux sections : fonctionnement et investissement.
    <br>
    <br>
    Les <strong>postes de fonctionnement</strong> sont des éléments récurrents
    (impôts locaux et services comme les cantines pour les recettes, charges de personnel
    pour les dépenses par exemple).
    <br>
    <br>
    L’excédent de recettes par rapport aux dépenses dégagé par cette section est appelé
    <strong>épargne brute</strong> et doit servir prioritairement à rembourser
    les emprunts puis à financer les investissements de l'année en cours.
    <br>
    <br>
    Les <strong>postes d'investissement</strong> sont par nature ponctuels
    (acquisitions immobilières ou constructions pour les dépenses, subventions pour les recettes)
    et agissent sur le patrimoine de la commune. 
  </p>
    <%= image_tag "structure_budget.png" %>
    <p class="footnote">
      Source : Guide du maire 2014 - DGCL-DGFIP
    </p>
  <br>
  <br>
  <h4 class= "blue-police">1. Règle de l'équilibre réel dans les budgets des collectivités locales</h4>
  <p>
  <br>
  Le code des collectivités territoriales prévoit que : "les recettes et les dépenses doivent s'équilibrer exactement."
  <br>
  <br>
  Cette règle est une spécificité des comptes des collectivités locales, ce n'est pas le cas
  des comptes de l'Etat.
  <br>
  <br>
  Cette règle :
  <br>
  - interdit de présenter un budget de fonctionnement en déficit. Ce budget de fonctionnement inclut les postes réels que
  nous présentons dans les sections financières du site mais aussi le remboursement en capital des emprunts,
  <br>
  - impose que la section d'investissement doit également être équilibrée sans empêcher le recours à
  l'emprunt (les emprunts nouveaux sont considérés comme des recettes d'investissement),
  <br>
  - impose également que la somme de l'épargne brute et des subventions d'investissement soit supérieure
  aux emprunts contractés dans l'année, ce qui veut dire que les nouveaux emprunts ne peuvent pas servir à
  rembourser les anciens.
  </p>
  <br>
  <br>
  <h4 class= "blue-police">2. Typologie des postes de fonctionnement</h4>
  <p>
  <br>
  Les <strong>recettes de fonctionnement</strong> des collectivités territoriales se structurent ainsi :
  <br>
  - impôts et taxes (voir notre section dédiée sur <%= link_to "la fiscalité locale", pages_notice_fiscalite_path %>) : 55% des recettes de fonctionnement,
  <br>
  - dotations et subventions de l'Etat (notamment la Dotation Générale de Fonctionnement) : 24% des recettes de fonctionnement,
  <br>
  - produits domaniaux (droits de voirie, de stationnement, loyers, …) et produits des ventes de services : 17% des recettes de fonctionnement.
  <br>
  <br>
  Ces recettes financent les <strong>dépenses de fonctionnement</strong> :
  <br>
  - charges de personnel : 36% des dépenses de fonctionnement,
  <br>
  - subventions et dépenses d'intervention : transferts monétaires (allocations sociales, subventions, …) : 40% des dépenses de fonctionnement,
  <br>
  - achats et charges externes telles que les fournitures, mobilier, électricité, téléphonie, prestations de services diverses : 18% des dépenses de fonctionnement,
  <br>
  - autres dépenses courantes dont les intérêts de la dette : environ 3% des dépenses de fonctionnement.
  </p>
  <br>
  <br>
  <h4 class= "blue-police">3. Typologie des postes d'investissement</h4>
  <p>
  <br>
  En plus de leur épargne brute, les collectivités disposent des ressources suivantes :
  <br>
  - FTCVA : remboursement par l'Etat de la TVA sur les dépenses d'équipement,
  <br>
  - subventions d'investissement venant d'autres collectivités ou de l'Etat.
  <br>
  <br>
  Ces ressources financent les investissements de la collectivité :
  <br>
  - opérations d'investissement (travaux, acquisitions, constructions) : 69% des dépenses d'investissement,
  <br>
  - subventions à des investissements réalisés par d'autres entités : soit 26% des dépenses d'investissement.
  <br>
  <br>
  </p>
  <h2 class= "orange-police">2. Analyser les comptes des collectivités locales</h2>
  <br>
  <h4 class= "blue-police">1. Les services rendus et leur coût </h4>
  <br>
  <p>
  Evaluer la gestion d'une collectivité, c'est évaluer le service rendu par rapport à son coût.
  <br>
  <br>
  Le service rendu étant difficilement mesurable, l'évaluation proposée est celle
  du niveau de dépenses au travers du ratio <strong>dépenses réelles de fonctionnement / population </strong>. Cet indicateur
  permet de mesurer le "train de vie" de la collectivité et sera à mettre en perspective avec la perception par le citoyen
  du service rendu par la collectivité.
  <br>
  <br>
  Simple, aisément compréhensible et se prêtant bien aux comparaisons avec d'autres villes de tailles similaires,
  il faut pour l'interpréter correctement prêter attention aux aspects suivants :
  <br>
  - certaines dépenses sont prises en charge au niveau des EPCI (communautés de communes) ce qui peut distordre la lecture de l'indicateur,
  <br>
  - l'attention doit être portée à la comparaison avec la moyenne de la strate et aux tendances,
  en particulier : les dépenses ont-elles tendance à croître plus vite que les recettes au cours des derniers exercices?
  <br>
  - un niveau de dépenses faible n'est pas nécessairement vertueux, s'il correspond à un niveau de services rendu à la population trop faible.
  <br>
  <br>
  La même analyse peut être effectuée pour les dépenses d'investissement (ratio <strong>dépenses réelles d'investissement / population</strong>)
  qui sont à mettre en perspective avec le niveau d'équipement dont bénéficie la collectivité.
  <br>
  <br>
  </p>
  <h4 class= "blue-police">2. La rigidité des dépenses de fonctionnement</h4>
  <p>
  <br>
  Certaines dépenses peuvent plus aisément être réduites que d'autres en cas de difficultés financières.
  <br>
  Les dépenses les plus "rigides", c'est-à-dire les moins facilement compressibles, sont les frais de personnel et
  les charges financières (intérêts de la dette). On peut mesurer le taux de rigidité des dépenses par le ratio :
  <strong>(frais de personnel + frais financiers) / dépenses réelles de fonctionnement</strong>.
  <br>
  Lorsque ce ratio dépasse 50%, les marges de manœuvre de la collectivité sont considérées comme trop faibles.
  <br>
  <br>
  </p>
  <h4 class= "blue-police">3. Analyser les recettes</h4>
  <p>
  Deux contrôles peuvent être réalisés sur les recettes :
  <br>
  - la pression fiscale peut s’évaluer en première approche par le ratio <strong>impôts locaux / population</strong> en
  le comparant à la moyenne de la strate et en analysant son  évolution : une évolution raisonnable se situe
  au niveau de l'inflation (environ 1% par an), sinon elle doit avoir pour contrepartie de nouveaux services rendus par la commune.
  <br>
  - ce ratio peut aussi être rapproché du revenu médian. Une collectivité qui a des niveaux d'imposition élevés
  et une population aux revenus modestes rencontrera plus de difficultés politique et économiques à augmenter
  les impôts en cas de nécessités financières qu'une collectivité à niveau d'imposition bas et habitée
  par une population plus aisée.
  <br>
  <br>
  </p>
  <h4 class= "blue-police">4. Evaluer la capacité de la commune à investir</h4>
  <p>
  <br>
  Une collectivité doit dégager par son fonctionnement un excédent lui permettant de rembourser ses emprunts
  et d'investir. L'excédent de fonctionnement est appelé <strong>épargne brute</strong> et le ratio clé est le
  taux d'épargne brute (<strong>épargne brute / recettes réelles de fonctionnement</strong>).
  <br>
  <br>
  Ce ratio est en moyenne de 14% dans les communes, 10% dans les départements.
  <br>
  <br>
  Un ratio élevé signifie une capacité importante à autofinancer des investissements et à rembourser la dette.
  C'est donc un signe de bonne santé financière.
  <br>
  Cependant, un ratio trop élevé, en particulier quand il s'accompagne de faible endettement et faible investissement,
  peut signifier que la collectivité surimpose ses contribuables, et ne leur apporte pas un service ou des équipements
  suffisants en comparaison des contributions versées.
  <br>
  <br>
  <h4 class= "blue-police">5. Evaluer la santé financière : la capacité de désendettement</h4>
  <p>
  <br>
  Le ratio généralement utilisé pour mesurer l'endettement est <strong>endettement / population</strong>.
  Très lisible et donnant un aperçu rapide, il présente cependant de fortes limites : certains territoires ont
  plus de services à rendre que d'autres (s'ils ont beaucoup de ressources économiques par exemple), la population
  peut comprendre beaucoup de résidents secondaires ou d'entreprises. Surtout, il n'apprécie pas la capacité
  réelle de la collectivité à se désendetter et à rembourser la dette.
  <br>
  <br>
  Il faut donc préférer le ratio <strong>endettement / épargne brute</strong>. Ce ratio donne le nombre
  d'années théorique qu'il faudra à la collectivité pour rembourser entièrement sa dette par son excédent de
  fonctionnement et mesure donc sa <strong>capacité de désendettement</strong>.
  <br>
  <br>
  Ce ratio doit être mis en perspective avec la durée moyenne des prêts consentis par les banques,
  c'est-à-dire 15 ans pour les collectivités. Si le ratio est de plus de 15, cela veut dire que même en utilisant
  tout son excédent pendant les 15 ans à venir pour rembourser sa dette et sans investir, la collectivité n'aura
  pas remboursé sa dette au bout de 15 ans. Cela signifie qu'elle devra emprunter pour financer le remboursement
  de sa propre dette, ce qui constitue une forme de cavalerie financière, interdite pour les collectivités locales : c'est une zone interdite.
  <br>
  <br>
  Cependant, un endettement très faible ou nul dans une ville de plus de 5 000
  habitants est généralement le signe d’un sous-investissement et d’une imposition
  trop élevée par rapport aux équipements disponibles. En effet, à la différence
  d’un ménage, une commune n’épargne généralement pas, ses investissements sont
  financés par des emprunts qui sont remboursés par son épargne brute.
  <br>
  <br>
  Le ratio <strong>endettement / population</strong> peut s'avérer significatifs dans certains cas précis :
  <br>
  <br>
  - Un endettement proche de 0€ par habitant indique généralement que la pression fiscale est trop élevée par rapport aux services rendus.
  La commune pourrait baisser ses recettes et avoir recours à l'emprunt pour financer ses investissements. En effet, une commune n'a pas la capacité
  d'épargner ses excédents pour financer des investissements. Cela ne vaut pas dans les très petites communes où, par définition, très peu d'investissements sont requis.
  <br>
  <br>
  - Un endettement par habitant très élevé (plus de 3 000€) indique que des investissements très importants ont été entrepris. Leur remboursement requiert un niveau
  élevé d'épargne brute, et donc d'imposition.
  </p>
  <br>
  <br>
    <p class="text-center">
      <%= image_tag "end_text_symbol.png" %>
    </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
