<% content_for :head do %>
  <meta name="google-site-verification" content="4SM52CVk1TCLLrb4oahGQm07QTuIYSDYGcejtD_VX9g" />
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>Historique de la décentralisation et perspectives de réformes</h1>
  <p>
  Les différentes collectivités locales n’ont pas été créées à la même époque
  ni dans le même contexte historique.
  </p>
  <br>
  <h2 class= "orange-police">1. Histoire de la création des différents échelons locaux</h2>
  <br>
  <p>
  La <strong>commune</strong> est historiquement héritière de la paroisse ecclésiastique d’Ancien Régime même si
  de nombreuses autres strates administratives (par exemple la paroisse « fiscale » dans le
  périmètre duquel était prélevée la taille) existaient avant la Révolution.
  <br>
  <br>
  La Révolution Française réorganise administrativement le pays en le centralisant et
  en homogénéisant ses structures administratives au nom du principe d’égalité devant la loi.
  L’Assemblée Constituante de 1789 prévoit notamment la création des municipalités ou communes
  comme étant la plus petite division administrative en France (Décret du 12 novembre 1789).
  La Constituante crée également les <strong>départements</strong> comme division administrative la plus importante,
  subdivisés initialement en districts et en cantons.
  <br>
  <br>
  Les <strong>régions</strong> ont, elles, été créées plus tardivement et sont issues du constat
  que les communes et départements n’étaient plus nécessairement les territoires adaptés pour
  mettre en place les politiques économiques et sociales de l’Etat.
  <br>
  <br>
  La quatrième République puis la cinquième République sous le mandat du général de Gaulle
  (décret du 14 mars 1964) lancent une régionalisation à visée initialement économique divisant
  la France en vingt-deux régions.
  <br>
  </p>
  <h2 class= "orange-police">2. Les principales lois de décentralisation depuis 1982</h2>
  <br>
  <p>
  Suite à la création des régions, plusieurs lois successives approfondissent ce mouvement
  de décentralisation et de régionalisation et sont les suivantes :
  <br>
  <br>
  - <strong>Lois Deferre de 1982</strong> : la loi lance un important mouvement visant à doter les
  collectivités locales d’une véritable autonomie (suppression des tutelles sur les collectivités
  locales, attribution du pouvoir exécutif aux présidents des assemblées départementales et régionales,
  transferts de compétence, etc.)
  <br>
  <br>
  - <strong>Loi constitutionnelle de 2003</strong> : la loi modifie la Constitution (inscription
  dans la Constitution du principe de la décentralisation, reconnaissance du principe de
  subsidiarité) et entame un nouveau mouvement de décentralisation.
  <br>
  <br>
  - <strong>Loi de finances pour l’année 2010</strong> : la taxe professionnelle est remplacée
  par la contribution économique territoriale (CET).
  <br>
  <br>
  - <strong>Loi territoriale promulguée le 16 décembre 2010</strong> prévoyant notamment le
  renforcement de l’intercommunalité et la création d’une nouvelle structure pour les zones
  urbaines atteignant 500 000 habitants, la « métropole ».
  <br>
  <br>
  - <strong>Loi NOTRe du 7 août 2015</strong> : elle prévoit entre autres le redécoupage de la carte
  es régions (dont le nombre passe de 22 à 16) et la spécialisation des collectivités locales :
  la commune conserve seule le bénéfice de la clause de compétence générale, le département devient
  le chef de file de l’action sociale et la région le chef de file de l’action économique.
  <br>
  </p>
  <h2 class= "orange-police">3. Les évolutions législatives actuelles affectant les collectivités locales</h2>
  <br>
  <h4 class= "blue-police">La réforme de la taxe d'habitation</h4>
  <br>
  <p>
  <strong>Modalités de la réforme</strong>
  <br>
  <br>
  La réforme de la taxe d’habitation est une promesse de campagne d’Emmanuel Macron,
  élu président de la République le 7 mai 2017. La loi de finances pour 2018 modifie les règles
  d’imposition de la taxe d’habitation avec pour objectif de réduire d’environ 80% le nombre de
  foyers imposables.
  <br>
  <br>
  D’après le site du ministère de l’Economie, des Finances, de l’Action et des Comptes publics,
  il est prévu que le montant de la taxe d'habitation diminue progressivement sur les trois
  prochaines années (de novembre 2018 à novembre 2020) : de 30 % en 2018, 65 % en 2019 et de 100%
  en 2020.
  <br>
  <br>
  Lesdites baisses ne bénéficieront qu’aux contribuables dont le revenu fiscal de référence
  (indiqué dans leur avis d’imposition) ne dépasse pas 27.000 euros pour une personne seule
  et 43.000 euros pour un couple (49.000 euros avec un enfant et 76.000 euros avec trois enfants).
  <br>
  <br>
  <strong>L'impact financier pour les contribuables</strong>
  <br>
  <br>
  L’objectif annoncé de la réforme du gouvernement est de redonner du pouvoir d’achat aux
  contribuables français en les exonérant d’un impôt qui n’est pas un impôt progressif comme
  peut l’être l’impôt sur le revenu. Une étude de l’Observatoire Français des Conjonctures
  Economiques (OFCE) datant de juin 2017 indique que la réforme prévue bénéficiera principalement
  aux classes moyennes  et se traduira par un gain moyen compris entre 279 euros et 356 euros par
  an et par ménage dans la plupart des départements.
  <br>
  <br>
  <strong>L'impact financier pour les collectivités locales</strong>
  <br>
  <br>
  Les collectivités locales, et particulièrement les communes, se sont montrées très critiques
  envers la réforme qui les prive d’une importante source de financement. Un rapport sénatorial
  chiffre à 9,53 milliards d’euros le coût de la réforme pour les communes. A titre d’illustration,
  81% des foyers de Marseille seraient exonérés et le manque à gagner s’élèverait à 178 millions
  d’euros pour la commune.
  <br>
  <br>
  <strong>Les critiques adressées à la réforme</strong>
  <br>
  <br>
  Les collectivités adressent trois principales critiques à la réforme du gouvernement :
  <br>
  <br>
  - Son coût financier pour les collectivités est très important et les élus doutent
  que le gouvernement, qui a promis de compenser « à l’euro près » le manque à gagner pour les
  collectivités par des transferts correspondants, soupçonnant l’Etat de chercher à conditionner
  ces compensations à des efforts de réduction des dépenses par les élus ;
  <br>
  <br>
  - Sans compensation intégrale par l’Etat, la réforme contreviendrait au principe de libre
  administration des collectivités territoriales inscrit dans la Constitution. Plus généralement,
  la réforme prive les communes d’une part importante de leur autonomie fiscale, c’est-à-dire de
  leur capacité à lever de façon autonome l’impôt et à décider de son taux ;
  <br>
  <br>
  - Enfin, la réforme contreviendrait au principe d’égalité devant les charges publiques en ce
  que 20% des contribuables continueraient d’être redevables de la taxe d’habitation et
  supporteraient notamment toute hausse future de taux qui pourraient être décidés par les élus
  locaux.
  <br>
  <br>
  Si le Conseil constitutionnel a affirmé, dans une décision du 28 décembre 2017, la conformité
  à la Constitution de la réforme, les critiques soutenant que celle-ci diminue l’autonomie de
  gestion des collectivités territoriales et enclenche un mouvement de recentralisation
  - à contrecourant du mouvement de décentralisation lancé en 1981 - restent entières.
  </p>
  <br>
  <h4 class= "blue-police">Le projet de suppression de certains départements dans les zones métropolitaines</h4>
  <br>
  <p>
  Autre promesse d’Emmanuel Macron lors de sa campagne présidentielle, la simplification des
  structures administratives et territoriales dans les grandes métropoles françaises impliquerait
  la fusion de certains départements dans des structures plus vastes, dont le territoire recouperait
  les grandes agglomérations.
  <br>
  <br>
  Cette simplification viserait en priorité la région Ile-de-France où jusqu’à cinq niveaux de
  structures administratives se superposent suite à l’adoption de la loi NOTRe : (i) les communes,
  (ii) les établissements publics territoriaux (EPT), qui sont des établissements publics de
  coopération intercommunale (EPCI) sans fiscalité propre dotés d'importantes compétences et d'un
  régime juridique spécifique, (iii) les départements, (iv) la Métropole du Grand Paris et (v)
  la région.
  <br>
  <br>
  Lors de la première Conférence nationale des territoires de son mandat le 17 juillet 2017,
  Emmanuel Macron a ainsi indiqué que « Si nous voulons que le Grand Paris réussisse à l’échelle
  de la compétition internationale, nous avons besoin de simplifier drastiquement les structures ».
  andaté par le Président de la République, le préfet d'Île-de-France Michel Cadot a soumis au
  chef de l’Etat des pistes de réforme pour réorganiser les collectivités locales de la région
  Ile-de-France.
  <br>
  <br>
  Bien que les contours du projet soient encore en discussion, l’hypothèse privilégiée par le
  rapport est celle de la suppression des départements des Hauts-de-Seine, de Seine-Saint-Denis
  et du Val-de-Marne. Leurs compétences seraient transférées aux Établissements publics
  territoriaux (EPT) créés en 2016 en remplacement des intercommunalités dans la Métropole.
  <br>
  <br>
  Dans ce scénario, la Métropole du Grand Paris serait sanctuarisée dans son périmètre actuel,
  et aurait pour objectif une « harmonisation » et une « coordination » des politiques des douze
  EPT qui deviendraient des « pôles de décision plus autonomes ». Le rapport plaide également
  pour le renforcement de l’échelon régional en matière de transports et de développement économique.
  <br>
  <br>
  Cette réforme devrait faire l'objet d'un projet de loi, qui serait déposé avant l'été 2018.
  <br>
  </p>



