<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>La fiscalité locale</h1>
  <p>
  On qualifie d’« impôts locaux » les prélèvements qui sont en majorité affectés aux collectivités locales.
  Nous présentons ici en détail les impôts locaux suivants :
  <br>
  <br>
  - La taxe d’habitation, payée par les <strong>occupants </strong>de tous les locaux meublés affectés à l’habitation (propriétaires ou locataires),<br>
  - La taxe sur le foncier bâti ou « taxe foncière », due par les propriétaires de bâtiments, ou de parties de bâtiments (copropriétés), quelle qu’en soit la nature (civile, commerciale),<br>
  - La taxe sur le foncier non bâti, due par les propriétaires de propriétés non bâties,<br>
  - La contribution économique territoriale (CET) payée par les entreprises, elle-même composée de (1) la cotisation sur la valeur ajoutée des entreprises (CVAE) et (2) la cotisation foncière des entreprises (CFE),<br>
  - Les droits de mutation à titre onéreux, payés par les <strong>acquéreurs de terrains et immeubles</strong> de plus de cinq ans.
  </p>
  <br>
  <h2 class= "orange-police">1. Les impôts perçus par chaque échelon local</h2>
  <br>
  <p>
  Les différentes catégories de collectivités locales ne perçoivent pas toutes les mêmes impôts locaux.
  Le tableau récapitulatif ci-dessous présente les principaux impôts perçus par chaque échelon local et
  divise ces impôts en deux catégories :
  <br>
  - Le produit de certains impôts, indiqués dans le tableau ci-dessous dans la partie « Fiscalité directe locale », est perçu directement par les collectivités locales.
  <br>
  - Le produit des impôts dit de « Fiscalité transférée » est d’abord perçu par l’Etat qui le transfère ensuite aux collectivités locales afin de compenser certains transferts de compétence de l’Etat aux collectivités locales.
  </p>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center blue-police">
          Impôt
        </th>
        <th class="text-center blue-police">
          Commune et intercommunalité
        </th>
        <th class="text-center blue-police">
          Département
        </th>
        <th class="text-center blue-police">
          Région
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="category">Fiscalité directe locale</th>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        Taxe d'habitation
        </th>
        <td class="text-center">X</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        Taxe sur le foncier bâti
        </th>
        <td class="text-center">X</td>
        <td class="text-center">X</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        CVAE
        </th>
        <td class="text-center">X</td>
        <td class="text-center">X</td>
        <td class="text-center">X</td>
      </tr>
      <tr>
        <th scope="row">
        CFE
        </th>
        <td class="text-center">X</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row" class="category">Fiscalité transférée</th>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        DMTO
        </th>
        <td class="text-center">X</td>
        <td class="text-center">X</td>
        <td class="text-center"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2 class= "orange-police">2. Montants perçus pour chaque impôt</h2>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center blue-police">
          Impôt en Milliard d'€
        </th>
        <th class="text-center blue-police">
          Commune et intercommunalité
        </th>
        <th class="text-center blue-police">
          Département
        </th>
        <th class="text-center blue-police">
          Région
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="category">Fiscalité directe locale</th>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        Taxe d'habitation
        </th>
        <td class="text-center">21,9</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        Taxe sur le foncier bâti
        </th>
        <td class="text-center">18,1</td>
        <td class="text-center">13,8</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        CVAE
        </th>
        <td class="text-center">4,4</td>
        <td class="text-center">8,1</td>
        <td class="text-center">4,2</td>
      </tr>
      <tr>
        <th scope="row">
        CFE
        </th>
        <td class="text-center">7,4</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row" class="category">Fiscalité transférée</th>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <th scope="row">
        DMTO
        </th>
        <td class="text-center">2,6</td>
        <td class="text-center">8,4</td>
        <td class="text-center"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2 class= "orange-police">3. La taxe d'habitation</h2>
  <br>
  <p>
  La taxe d’habitation a rapporté 21,9 milliards d’euros en 2016. Son produit est affecté à la commune ou à l’intercommunalité.
  <br>
  <br>
  Elle est due pour une année donnée par les occupants au 1er janvier de tous les locaux meublés affectés à l’habitation, qu’ils en soient propriétaires ou locataires. Elle est calculée comme suit :
  <br>
  <br>
  </p>
  <p class="text-center">
  <strong> Taxe d’habitation = Taux x Valeur locative nette </strong>
  </p>
  <p>
  <br>
  Le <strong>Taux</strong> est voté par la commune ou l’intercommunalité sur le territoire duquel se situe le local meublé.
  <br>
  <br>
  La « <strong>valeur locative nette</strong> » est calculée à partir des <strong>bases cadastrales</strong> qui sont des estimations, établies par l’administration, des revenus locatifs que pourrait générer un bien s’il était loué.
  <br>
  <br>
  Les bases cadastrales peuvent être diminuées de <strong>divers abattements</strong> décidés par l’Etat ou la collectivité
  locale. Les principaux abattements correspondent, pour la résidence principale, aux charges de famille
  (nombre d’enfants notamment) ou sont accordés à des personnes handicapées. Plusieurs dispositions permettent
  d’exonérer de taxe d’habitation certains foyers dont le revenu fiscal de référence est modeste.
  <br>
  <br>
  Les valeurs locatives cadastrales ont été définies en 1970 et actualisées en 1980. Malgré les réévaluations
  dont elles ont depuis fait l’objet au niveau national, ces valeurs ne reflètent plus l’état actuel du marché
  immobilier (locaux détruits ou améliorés, techniques de construction en évolution).
  <br>
  <br>
  Il existe donc un consensus sur le fait que la méthode de calcul des impôts locaux qui dépendent des valeurs
  locatives cadastrales (taxe d’habitation, taxe foncière, cotisation foncière des entreprises) est aujourd’hui
  <strong>obsolète</strong> et doit être réformé afin de rendre plus lisible le calcul des bases foncières pour le contribuable.
  <br>
  </p>
  <h2 class= "orange-police">4. La taxe sur le foncier bâti ou « taxe foncière »</h2>
  <br>
  <p>
  La taxe sur le foncier bâti (TFB) ou « taxe foncière » a rapporté 31,9 milliards d’euros en 2016.
  Son produit est partagé entre les communes et leurs groupements et les départements.
  <br>
  <br>
  La taxe sur le foncier bâti est due pour une année donnée par les propriétaires au 1er janvier de bâtiments,
  ou de parties de bâtiments (copropriétés), quelle qu’en soit la nature (logements, bureaux, locaux commerciaux,
  établissements industriels, etc.). Elle est calculée comme suit :
  <br>
  <br>
  </p>
  <p class="text-center">
  <strong>Taxe sur le foncier bâti = Taux x Revenu cadastral</strong>
  </p>
  <p>
  <br>
  Le <strong>Taux</strong> est voté par les collectivités sur le territoire duquel se situe le bâtiment.
  <br>
  <br>
  Le « <strong>revenu cadastral</strong> » est égal à la moitié de la <strong>valeur locative nette</strong>
  calculée comme indiqué en partie 3. Cet abattement de 50 % est supposé correspondre aux frais de gestion des
  biens.
  <br>
  <br>
  Des dégrèvements, voire des exonérations, de taxe foncière sur l’habitation principale sont accordées
  en fonction de critères sociaux tels que le niveau de revenus et l’âge.
  <br>
  <br>
  Les constructions nouvelles sont exonérées de la part départementale (et parfois aussi de la part communale) de la taxe foncière pendant deux ans, totalement (logements)
  ou partiellement (autres locaux). Les logements sociaux peuvent donner lieu à des exonérations pendant
  15 ans ou plus.
  <br>
  </p>
  <h2 class= "orange-police">5.  La taxe sur le foncier non bâti ou taxe foncière sur les propriétés non bâties (TFNPB) »</h2>
  <br>
  <p>
  La TFPNB s'applique aux propriétés non bâties (par exemple les terres et serres affectées à une exploitation
  agricole, sols des propriétés bâties, voies privées, jardins et parcs).
  <br>
  <br>
  La TFPNB est due par les propriétaires ou usufruitiers de propriétés non bâties, au 1er janvier de l'année
  d'imposition. Il existe cependant des exonérations permanentes ou temporaires, sous certaines conditions.
  <br>
  <br>
  </p>
  <p class="text-center">
  <strong>Taxe sur le foncier non bâti = Taux x Revenu cadastral</strong>
  </p>
  <p>
  <br>
  Le <strong>Taux</strong> est voté par les collectivités sur le territoire duquel se situe le bien.
  <br>
  <br>
  Le « <strong>revenu cadastral</strong> » est égal à la moitié de la <strong>valeur locative nette</strong> calculée comme indiqué en partie 3.
  Cet abattement de 50 % est supposé correspondre aux frais de gestion des biens. Un abattement forfaitaire de
  20 % à la valeur locative cadastrale est prévu pour tenir compte des charges des propriétés agricoles.
  <br>
  <br>
  Elle est encaissée par la commune ou l'EPCI à fiscalité propre sur le territoire duquel le terrain est situé.
  <br>
  </p>
  <h2 class= "orange-police">6. La cotisation sur la valeur ajoutée des entreprises (CVAE)</h2>
  <br>
  <p>
  La CVAE a été créée en 2010 en même temps que la cotisation foncière des entreprises (CFE) afin de
  remplacer la taxe professionnelle. La CVAE et la CFE constituent la contribution économique territoriale (CET).
  <br>
  <br>
  La cotisation sur la valeur ajoutée des entreprises (CVAE) a rapporté 16,9 milliards d’euros en 2016 dont
  environ la moitié aux départements, un quart aux régions et un quart aux communes et intercommunalités.
  <br>
  <br>
  Elle se calcule comme suit :
  <br>
  <br>
  </p>
  <p class="text-center">
  <strong>Cotisation sur la valeur ajoutée des entreprises = Taux x Valeur ajoutée de l’entreprise</strong>
  </p>
  <p>
  <br>
  Le <strong>Taux</strong> est fixé au niveau national par la loi. Il est progressif en fonction du chiffre d’affaires :
  0,5 % pour un chiffre d’affaires de 3,0 milliards d’euros, 1,4 % pour 10 milliards d’euros et 1,5 %
  pour plus de 50 milliards d’euros.
  <br>
  <br>
  Seules les entreprises dont le <strong>chiffre d’affaires</strong> est <strong>supérieur à 500 000 €</strong> doivent la payer.
  <br>
  <br>
  Il existe des dispositifs d’exonération sur décision des collectivités locales ou nationaux
  (par exemple la première année de création d’une entreprise ou d’un établissement).
  </p>
  <br>
  <h2 class= "orange-police">7. La cotisation foncière des entreprises (CFE)</h2>
  <br>
  <p>
  La CFE est assise sur les valeurs locatives foncières et est égale au produit de la valeur locative
  cadastrale par le taux applicable pour la collectivité.
  <br>
  <br>
  Toutefois, lorsque la valeur locative foncière est très faible, elle est remplacée par une valeur
  forfaitaire. Ainsi, pour les très petites entreprises auxquelles aucune ressource immobilière n'est
  spécifiquement affectée, le caractère foncier de cette contribution est virtuel.
  <br>
  <br>
  La CFE est perçue depuis 2011 au profit des communes et des groupements de communes (EPCI à fiscalité propre).
  </p>
  <br>
  <h2 class= "orange-police">8. Les droits de mutation à titre onéreux (DMTO)</h2>
  <br>
  <p>
  Les droits de mutation à titre onéreux (DMTO) ont rapporté environ 11,2 milliards d’euros en 2016 aux
  collectivités locales, dont plus des trois quarts au profit des départements et moins du quart au profit
  des communes (le restant étant capté par l’Etat).
  <br>
  <br>
  Ils s’ajoutent aux « frais de notaire » au sens strict. Ils sont dus par les acquéreurs de terrains et
  immeubles de plus de cinq ans et se calculent comme suit :
  <br>
  <br>
  </p>
  <p class="text-center">
  <strong>DMTO = Taux x prix de vente du bien</strong>
  </p>
  <p>
  <br>
  Le <strong>Taux</strong> des DMTO prélevés par les départements est fixé par ces derniers mais ne doit pas excéder un
  taux maximum fixé par la loi, soit 4,5 %. Le taux des DMTO prélevés par les communes est de 1,2 %.
  <br>
  </p>
  <h2 class= "orange-police">9. Autres taxes</h2>
  <br>
  <p>
  Nous n’étudions pas en détail l’ensemble des taxes locales existantes dont le produit est touché par
  les collectivités locales, leur nombre étant très important (taxe d’enlèvement des ordures ménagères
  et assimilés, taxe de balayage, taxes funéraires, etc.).
  <br>
  <br>
  A titre illustratif on peut citer la <strong>taxe intérieure de consommation sur les produits énergétiques</strong>,
  anciennement désignée « taxe intérieure de consommation sur les produits pétroliers » ou TIPCE.
  C'est la principale taxe perçue en France sur certains produits énergétiques, notamment ceux d'origine pétrolière.
  <br>
  <br>
  Depuis le 1er janvier 2005, une partie du produit de la TIPCE est transférée aux régions et départements,
  afin de compenser les transferts de compétences opérés à leur profit dans le cadre de la relance de la
  décentralisation de 2003. Le montant transféré en 2018 au titre de la TIPCE sera de 11,8 milliards d’euros.
  <br>
  <br>
  La TIPCE est le cinquième impôt français le plus important en termes de recettes, derrière la taxe sur
  la valeur ajouté, la contribution sociale généralisée, l'impôt sur le revenu et l’impôt sur les sociétés.).
  </p>
  <br>
  <br>
  <p class="footnote">
      Sources : <br>
      - Rapport du Conseil des Prélèvements Obligatoires intitulé « Prélèvements obligatoires sur les ménages : progressivité et effets redistributifs » daté de mai 2011
      <br>
      - FIPECO : les impôts locaux<br>
    </p>
  <br>
  <br>
  <p class="text-center">
    <%= image_tag "end_text_symbol.png" %>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

