<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h2 class= "orange-police">Nos convictions</h2>
  <p>
    Le site internet citoyens-responsables.org a été créé par <strong>l’association
    Citoyens Responsables</strong> sur la base des convictions suivantes :
  <br>
  <br>
  - Les citoyens français ont voté massivement aux dernières élections présidentielles
  et nous les croyons nombreux à s’intéresser à la politique, au niveau
  local comme national. Les citoyens cherchent à s’informer sur la gestion par les élus
  de leur commune, leur département, leur région et leur pays et nous pensons qu’ils ont
  de plus en plus tendance à juger les élus sur leurs résultats dans l’exercice de leur
  mandat, et moins en fonction des logiques partisanes.<br><br>
  - Les collectivités territoriales représentent près de 20% du budget des
  administrations publiques françaises et sont les pourvoyeurs de nombreux services
  du quotidien. Les français sont à la recherche de transparence de la part de leurs
  élus, de l’Etat et des collectivités locales sur la situation (financière, sociale,
  matérielle) des administrations et collectivités et sur les décisions que les élus
  prennent.<br><br>
  - Il existe un consensus sur la nécessité de réduire les prélèvements
  des administrations publiques et de maîtriser leur endettement.<br><br>
  - La France manque d’outils permettant aux citoyens de
  s’informer sur l’action de leurs élus, la situation de leurs collectivités locales
  et l’utilisation des fonds publics. Une meilleure information sur les problématiques
  locales peut contribuer à renforcer la confiance entre les électeurs et leurs élus.<br><br>
  </p>
  <br>
  <h2 class= "orange-police">Nos objectifs</h2>
  <br>
  <p>
  Notre projet et le site internet correspondant se revendiquent apolitiques.
  Ils visent à donner aux citoyens les moyens de s’informer sur les données
  socio-économiques, la politique fiscale et la santé financière de leurs communes,
  départements et régions. Nous croyons qu’il est possible, au niveau local, de donner
  des éléments d’évaluation des politiques publiques qui soient neutres et n’impliquent
  pas un engagement politique au profit d’un parti quelconque. Notre projet cherche à
  couvrir progressivement tous les échelons des collectivités territoriales : commune,
  département, communauté d’agglomération et région.
  <br>
  <br>
  A terme, nous souhaitons, dans la mesure du possible, que le site acquiert
  une dimension participative, afin que les internautes se saisissent du projet et
  le fasse vivre. Nous souhaiterions par exemple apporter des informations sur les
  programmes des élus et les délibérations des organes exécutifs des collectivités
  territoriales. D’autres dimensions participatives sont possibles et restent à explorer.
  </p>
  <br>
  <h2 class= "orange-police">Les données</h2>
  <br>
  <p>
  Nous utilisons exclusivement des données mises à disposition du public par
  l’administration française (en open data). Nos principales sources d’informations
  sont :
  <br>
  <br>
  - le site de l’Institut National de la Statistique et des Etudes Economiques (INSEE), www.insee.fr,<br>
  - le site www.data.gouv.fr,<br>
  - le site www.impots.gouv.fr.<br>
  <br>
  <br>
  L'utilisation de ces données par notre site est expliquée dans notre <%= link_to "méthodologie", pages_notice_methodologie_path %>.
  </p>
  <br>
  <br>
  <p class="text-center">
    <%= image_tag "end_text_symbol.png" %>
  </p>
  <br>
  <br>
  <br>
</div>
