<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>L'association</h1>
  <p>
    Le site internet [●] a été créé par les membres de l’association [●],
    jeunes actifs passionnés de sujets de politique publique. Les statuts de l’association sont disponibles
    en ligne, <a href="#">ici</a>.
  </p>
  <br>
  <h1>Nos convictions</h1>
  <p>
    Ce site internet a été créé par les membres de notre association sur la base de nos convictions :
    <br>
    <br>
    <strong>1.</strong> Les citoyens français ont voté massivement aux dernières élections présidentielles de 2017,
    et nous les croyons nombreux à s’intéresser à la politique, qu’elle soit au niveau locale
    ou nationale. <br>
    Les citoyens cherchent à s’informer sur la gestion par les élus de leur commune,
    leur département, leur région et leur pays et nous pensons qu’ils ont de plus en plus tendance
    à juger les élus sur leurs résultats dans l’exercice de leur mandat et non uniquement sur leur
    seule appartenance à tel ou tel parti politique. C’est particulièrement vrai au niveau local, où
    les décisions des élus impactent directement la vie quotidienne des citoyens.
    <br>
    <br>
    <strong>2.</strong> Les français sont à la recherche de transparence de la part de leurs élus, de l’Etat et des
    collectivités locales sur la situation (financière, sociale, matérielle) des administrations
    et collectivités, les décisions que les élus prennent et la façon dont ils utilisent l’argent
    public.
    <br>
    <br>
    <strong>3.</strong> La France est aujourd’hui un pays très endetté, une dette qui pèse sur les générations
    futures alors même que la fiscalité française est l’une des plus élevées de l’Union Européenne.
    Dans le même temps, les besoins en matière sociale, éducative, environnementale, etc. n’ont jamais
    été aussi grands, et les français attendent beaucoup des services publics et des fonctionnaires.
    En résumé, l’argent public se fait rare et sa gestion avisée par les élus est plus que jamais
    nécessaire.
    <br>
    <br>
    <strong>4.</strong> Notre conviction est que la France manque d’outils permettant l’évaluation par les citoyens de
    leurs élus et de l’utilisation des fonds publics. Ce manque a joué un rôle dans la dégradation
    des finances publiques, tant locales que nationales. Il peut aussi expliquer la défiance
    grandissante des français envers leurs élus qu’ils soupçonnent souvent de mal gérer les fonds
    publics ou de les utiliser principalement en vue de leur réélection.
  </p>
  <br>
  <h1>Nos objectifs</h1>
  <p>
    Notre projet et ce site internet se revendiquent apolitique.
    Ils visent à donner aux citoyens les moyens de s’informer sur les réalités socio-économiques
    de leur commune, de leur département et de leur région et d’en connaître
    les principaux indicateurs financiers. L’objectif est de donner à chacun un aperçu de la
    santé financière de sa collectivité locale et les éléments qui lui permettront d’évaluer
    lui-même la gestion par les élus locaux de sa commune, son département ou sa région.
    <strong>Nous croyons qu’il est possible, au niveau local, de donner des éléments d’évaluation des
    politiques publiques qui soient neutres et n’impliquent pas un engagement politique au profit
    d’un parti quelconque.</strong>
    <br>
    <br>
    Notre projet cherche à couvrir progressivement tous les échelons des collectivités
    territoriales : commune, département, communauté d’agglomération et région.
    <br>
    <br>
    Cette version de notre projet est encore très récente et imparfaite.
    A terme, nous souhaitons, dans la mesure du possible, que le site acquiert une
    dimension participative, afin de faire vivre des outils de suivi les plus fins et
    pertinents possibles. Ces dimensions restent à explorer, n'hésitez pas à nous écrire
    pour partager vos suggestions et discuter du projet avec nous.
  </p>
  <br>
  <h1>Les données</h1>
  <p>
    Nous utilisons exclusivement des données mises à disposition du public par l’administration
    française (open data). Les sources de chaque outil sont précisées et, au besoin,
    les méthodologies détaillées
    Les données utilisées sont disponibles aux liens suivants :
  </p>
  <br>
  <br>
  <p class="text-center">
    <%= image_tag "end_text_symbol.png" %>
  </p>
  <br>
  <br>
  <br>
</div>
