<% content_for :head do %>
  <meta name="google-site-verification" content="4SM52CVk1TCLLrb4oahGQm07QTuIYSDYGcejtD_VX9g" />
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>Page en construction</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
