<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>Le budget des collectivités locales</h1>
  <p>
    Le budget est un exercice de prévision des dépenses et des recettes effectué annuellement.
    Il peut être révisé en cours d'année.<br>
    L'exécutif local prépare un budget qui est validé par l'assemblée délibérante de la collectivité.
  </p>
  <br>
  <h3>Structure d'un budget</h3>
  <p>
    Tout budget est séparé en deux sections de fonctionnement et d'investissement.
  </p>
    <%= image_tag "structure_budget.png" %>
    <p class="footnote">
      Source : Guide du maire 2014 - DGCL-DGFIP
    </p>
  <br>
  <p>
  Les postes de fonctionnement sont des éléments récurrents (impôts locaux et services comme les
  cantines pour les recettes, charges de personnel pour les dépenses par exemple).
  <br>
  L’excédent de recettes par rapport aux dépenses dégagé par cette section est appelé
  épargne brute (ou capacité d'autofinancement) et doit servir prioritairement à rembourser
  les emprunts puis à financer les investissements de l'année en cours.
  <br>
  <br>
  Les postes d'investissement sont par nature ponctuels (acquisitions immobilières ou contructions
  pour les dépenses, subventions pour les recettes).
  <br>
  <br>
  La classification d'une dépense comme étant de fonctionnement et d'investissement est un
  enjeu important dans la mesure où la fiscalité et le financement de l'état ne sont pas les
  mêmes dans les deux cas.
  <br>
  En particulier, la FTCVA est une dotation de l'Etat qui vient en compensation de la charge
  de TVA supportée par les communes dans leurs opérations d'investissement uniquement :
  c'est un financement déguisé des investissements des collectivités locales.
  </p>
  <br>
  <h3>Règle de l'équilibre réel dans les comptes des collectivités locales</h3>
  <p>
  "Les recettes et les dépenses doivent s'équilibrer exactement."
  <br>
  Cette règle est une spécificité des comptes des collectivités locales,
  ce n'est pas le cas des comptes de l'Etat. 
  <br>
  <br>
  Ce principe ne signifie pas qu'une commune ne peut pas dépenser plus que ce qu'elle perçoit.
  Dans la mesure où l'emprunt est une recette d'investissement, si une commune souhaite
  réaliser un investissement mais ne peut pas le financer par ses recettes propres,
  ce principe oblige simplement la commune à le financer par l'emprunt.
  <br>
  Ce principe oblige par contre les collectivités locales à présenter un budget dont
  les recettes de fonctionnement sont nécessairement supérieures aux dépenses de
  fonctionnement : le recours à l'emprunt ne peut être utilisé que pour financer des investissements.
  </p>
  <br>
  <h3>Les postes du compte de fonctionnement</h3>
  <p>
  Les dépenses de fonctionnement se répartissent entre les postes suivants :
  <br>
  <br>
  - Charges de personnel<br>
  - Achats de fournitures<br>
  - Autres charges de gestion courante: eau, électricité, téléphonie et communications…<br>
  - Participations aux charges d’organismes extérieurs : aides sociales, intercommunalités…<br>
  - Charges financières : Intérêts des emprunts et frais financiers<br>
  - Indemnités des élus<br>
  - Dotations aux amortissements et aux provisions<br>
  <br>
  <br>
  Ces dépenses sont impérativement financées par les recettes de fonctionnement :
  <br>
  <br>
  - Impôts et taxes (plus de détails <a href="">ici</a>)<br>
  - Dotations (notamment : la Dotation Générale de Fonctionnement versée par l'Etat)<br>
  - Produits domaniaux (droits de voirie, de stationnement, loyers du parc de logements, …)<br>
  - Produits des ventes de services<br>
  - Excédent des années précédentes reporté<br>
  </p>
  <br>
  <h3>Les postes du compte d'investissement</h3>
  <p>
    Les dépenses d'investissement consistent en deux postes : le remboursement du capital
    des emprunts en cours et les opérations d'investissement de l'année.
    <br>
    <br>
    En plus de son excédent de fonctionnement, la collectivité dispose de plusieurs sources de financement
    pour ses investissements :
    <br>
    - La FCTVA qui est reversée par l'Etat en proportion des investissements de la collectivité<br>
    - Les subventions du conseil régional et du conseil général pour les communes et EPCI,
    ou des fonds européens<br>
    - Les emprunts<br>
  </p>
  <br>
  <br>
    <p class="text-center">
      <%= image_tag "end_text_symbol.png" %>
    </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
