.main-card-sm {
  background: white;
  width: 900px;
  margin-left: 20%;
  margin-top: 0px;
}

.main-card-xs {
  background: white;
  width: 90%;
}

.entity-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  text-align: center;
}

.entity-title h1 {
  display:inline-block;
  max-width: 700px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black;
  border-style: solid;
  border-color: red;
  border-width: 8px;
  border-radius: 7px;
}

.card {
  position: relative;
  background: white;
  border-radius: 10px;
  margin: 40px;
  /* border-style: solid;
  border-color: #DCDCDC;
  border-width: 1px; */

}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  top: 10px;
  color: black;
  padding-left: 50px;
}

.card-tab {
  padding: 30px;
  margin: auto;
}

.category {
  color: #F48024;
}

.subcategory {
  color: #808080;
}
