.main-card-sm {
  background: white;
  width: 900px;
  margin-left: 20%;
  margin-top: 0px;
}

.main-card-xs {
  background: white;
  width: 90%;
}

.entity-title {
  height: 50px;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  color: #808080;
}

.card {
  position: relative;
  background: white;
  border-radius: 10px;
  margin: 40px;
  /* border-style: solid;
  border-color: #DCDCDC;
  border-width: 1px; */

}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  top: 10px;
  color: black;
  padding-left: 50px;
}

.card-tab {
  padding: 30px;
  margin: auto;
}
