.nav {
  padding-top: 50px !important;
  padding-left: 10px;
  background: white;
}

.nav-tabs li a {
  color: #F48024;
  font-weight: bold;
}

.nav-tabs li.active a {
  font-weight: bold;
  fonct-color: black;
}

.main-row {
    border-bottom: 1px solid #ddd;
}

.sub-row {
  border-bottom: 1px solid white;
}
