/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.footnote {
  color: #808080;
  font-style: italic;
}

.text-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.blue-police {
  color: #002060;
}

.orange-police {
  color: #F48024;
}

.indent {
  text-indent: 25px;
}


.no-indent {
  text-indent: 0;
}

.big-font {
  font-size: 40px;
}

