<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="text-center">
  <%= image_tag "error.png" %>
</p>
<br>
<br>
<p>
  Cette page n'existe malheureusement pas. Si vous recherchez une commune, la recherche est sensible aux accents, aux tirets, mais pas aux majuscules.
  Si malgré tout vous ne trouvez pas votre commune, n'hésitez pas à nous écrire.
  <br>
  <br>
  Bonne navigation sur notre site.
  <br>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
