// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

h1, h2, h3, td, th, tr, p {
  font-family: "Helvetica", "sans-serif";
}

* {
    margin: 0;
}
html, body {
  height: 100%;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
  background: white;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -300px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 300px; /* .push must be the same height as .footer */
}
